[submodule "ops/opsworks-cookbooks"]
	path = ops/opsworks-cookbooks
	url = https://github.com/aws/opsworks-cookbooks.git
	branch = release-chef-11.10
[submodule "dev/simple-php"]
	path = dev/simple-php
	url = https://github.com/amazonwebservices/opsworks-demo-php-simple-app.git
	branch = version2
[submodule "ops/opsworks-example-cookbooks"]
	path = ops/opsworks-example-cookbooks
	url = git@github.com:amazonwebservices/opsworks-example-cookbooks.git
	branch = master
