[submodule "dev/simple-php"]
	path = dev/simple-php
	url = https://github.com/amazonwebservices/opsworks-demo-php-simple-app.git
	branch = version2
[submodule "ops/opsworks-example-cookbooks"]
	path = ops/cookbooks
	url = git@github.com:amazonwebservices/opsworks-example-cookbooks.git
	branch = master
